<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
@(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.office2010black.css").Combined(true).Compress(true)))</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>Charity Portal</h1>
            </div>
            
            @(Html.Telerik().Menu()
                    .Name("menu")
                    .Items(menu => {
                        menu.Add().Text("Home").Action("Index", "Home");
                        menu.Add().Text("Map").Action("OverviewMap", "Visualization");
                       
                        menu.Add().Text("Organization").Action("Index", "Organization");
                        menu.Add().Text("Project").Action("Index", "Project");
                        menu.Add().Text("Resource Needed").Action("IndexNeeded", "Resource");
                        menu.Add().Text("Resource Avaliable").Action("IndexAvaliable", "Resource");
                        menu.Add().Text("About").Action("About", "Home");
                    }))
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
@(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))</body>
</html>
