﻿@using CraftAndDesignCouncil.Domain

@model Applicant
           
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div >
        @using (Html.BeginForm()) {
            @Html.HiddenFor(Model => Model.Id)
            @Html.AntiForgeryToken()
            <fieldset class="form-brd">
                <div class="form-col">
                    <div class="form-row">
                        @Html.LabelFor(Model => Model.FirstName, "First Name:")
                        @Html.TextBoxFor(Model => Model.FirstName)
                        @Html.ValidationMessageFor(Model => Model.FirstName)
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(Model => Model.LastName, "Last Name:")
                        @Html.TextBoxFor(Model => Model.LastName)
                        @Html.ValidationMessageFor(Model => Model.LastName)
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(Model => Model.Email, "Email:")
                        @Html.TextBoxFor(Model => Model.Email)
                        @Html.ValidationMessageFor(Model => Model.Email)
                    </div>
                </div>
                <div class="form-col-r">
                    <div class="form-row">
                        @Html.LabelFor(Model => Model.Address.AddressLine1, "Address Line 1:")
                        @Html.TextBoxFor(Model => Model.Address.AddressLine1)
                        @Html.ValidationMessageFor(Model => Model.Address.AddressLine1)
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(Model => Model.Address.AddressLine2, "Address Line 2:")
                        @Html.TextBoxFor(Model => Model.Address.AddressLine2)
                        @Html.ValidationMessageFor(Model => Model.Address.AddressLine2)
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(Model => Model.Address.City, "City:")
                        @Html.TextBoxFor(Model => Model.Address.City)
                        @Html.ValidationMessageFor(Model => Model.Address.City)
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(Model => Model.Address.StateProvince, "State / Province:")
                        @Html.TextBoxFor(Model => Model.Address.StateProvince)
                        @Html.ValidationMessageFor(Model => Model.Address.StateProvince)
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(Model => Model.Address.PostCode, "Post Code:")
                        @Html.TextBoxFor(Model => Model.Address.PostCode)
                        @Html.ValidationMessageFor(Model => Model.Address.PostCode)
                    </div>
                    <div class="form-row">
                        @Html.LabelFor(Model => Model.Address.Country, "Country:")
                        @Html.TextBoxFor(Model => Model.Address.Country)
                        @Html.ValidationMessageFor(Model => Model.Address.Country)
                    </div>
                    <div class="form-row">
                        @Html.SubmitButton("nextButton", "Next")
                    </div>
                </div>

            </fieldset>
        }
    </div>
    <div class="clear">&nbsp;</div>
</div>