@using CraftAndDesignCouncil.Domain

@model Applicant
           
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <div >
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                <fieldset class="form-brd">
                    <div class="form-col">
                        <div class="form-row">
                            @Html.LabelFor(Model => Model.Email, "Email:")
                            @Html.TextBoxFor(Model => Model.Email)
                            @Html.ValidationMessageFor(Model => Model.Email)
                        </div>
                        <div class="form-row">
                            @Html.LabelFor(Model => Model.Password, "Password:")
                            @Html.PasswordFor(Model => Model.Password)
                            @Html.ValidationMessageFor(Model => Model.Password)
                        </div>
                    </div>
                    <input type="submit" value="Send" />
                </fieldset>
            }
        </div>
    </div>
    <div class="clear">&nbsp;</div>
</div>