@using CraftAndDesignCouncil.Domain

@model Applicant
           
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>Login</div>
<div>
@using (Html.BeginForm())
{
    @Html.Label("email"); @Html.TextBox("email2");<br />
    @Html.Label("password"); @Html.Password("password");<br />
    @Html.SubmitButton();
}
</div>
<div><a href="/Applicant/Create">Register</a></div>


