@model IEnumerable<CharityPortal.Data.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Project List</h2>

<p>
    @Html.ActionLink("Create New", "Create" , null ,  new{   @class="t-button"})
</p>
<div class="t-widget t-grid" id="Grid">

<table style="border-collapse:collapse">
<thead class="t-grid-header">
    <tr>
       <th class="t-header" scope="col">
            Name
        </th>
        <th class="t-header" scope="col">
            Description
        </th>
       <th class="t-header" scope="col">
            Is Active
        </th>
          <th class="t-header" scope="col"></th>
    </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id } ,new{   @class="t-button"}) 
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "t-button" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "t-button" })
        </td>
    </tr>
}

</table>
