<div class="TopBar">
    @if (Session["LOGGED_IN_USER"] == null)
    {
        using (Html.BeginForm("LoginApplicant", "Login"))
        {
            @Html.Label("email"); @Html.TextBox("email2");
            @Html.Label("password"); @Html.Password("password");
            @Html.SubmitButton();
        }
    }
    else
    {
        @Html.ActionLink("Log out", "LogOutApplicant", "Login");
    }
</div>
