@using CraftAndDesignCouncil.Web.Mvc.Controllers.ViewModels;

@model ApplicationFormSectionViewModel

@{
    ViewBag.Title = "ApplicationFormSection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.SectionTitle</h3>

@using (Html.BeginForm())
{   
    for (int idx=0; idx<Model.Questions.Count; idx++)
    {
       @Model.Questions[idx].QuestionText
       @Html.TextBoxFor(x => x.Questions[idx].QuestionId);
       @Html.TextBoxFor(x=>x.Questions[idx].AnswerText);
       <br />
    }
    @Html.SubmitButton();
}

