@model CharityPortal.Data.Organization

@{
    ViewBag.Title = "Details";
}

<h2>Organization Details</h2>

<fieldset>
    <legend>Organization</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Contact Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactEmail)
    </div>
</fieldset>

@if (Model != null && Model.Projects != null && Model.Projects.Count > 0) {
<fieldset>
    <legend>Projects Map</legend>
    @{
        Map map = new Map();
        foreach(Project project in Model.Projects) {
            map.Markers.Add(MapUtils.CreateProjectMarker(project, Url));
        }
    }
    <div class="map-container">
        @Html.Map(map);
    </div>
</fieldset>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id } , new{   @class="t-button"}) 
    @Html.ActionLink("Back to List", "Index" , new{   @class="t-button"})
</p>
